@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #a5f3fc, #67e8f9);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #94a3b8, #475569);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button > svg {
  margin-right: 5px;
}
