@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #edede9;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
button > svg {
  margin-right: 5px;
}
